@charset "UTF-8";

body{
    
}

header{
background-image: linear-gradient(to right,#2B9D5E,#063D1E);   

padding: 20px;
margin: 0px;
}
header>h1,p{
text-align: center;
color: #fff;
margin-top: 20px;
}

a:hover{
    background-color: rgb(87, 230, 87);
    padding: 5px;
}

nav > a{
    margin-right: 20px;
    text-decoration: none;
    color: #fff
}
h2{
  font-family: ;  
}