@charset "UTF-8";


body {
background-image: linear-gradient(to right,#265C4B,#6caad0);

}
div{
    display:inline-block;
    background-color: lightblue;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 2px solid black;
}
div:hover{
    background-color:#146551
}