 @charset "UTF-8"
*{
    font-family: Arial, Helvetica, sans-serif;
 height: 100%
 
   } 
  body {
background-image: linear-gradient(to right,#222940,#2E3959 );
  } 
  main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #1818f871 ;
    width: 600px;
    padding: 10px;
    margin: auto;
  } 
h1 {
 color:#5A6E73 ;
 text-align: center;
text-shadow: 1px 1px 2px #1818f8;
}
h2 {
    color:#0A0A0D;


}
   p {
    text-align: justify;
   }
